


{{#if loggedIn}}
<section class="container">
  <img src="/images/{{styles.filename}}" alt="{{styles.description}}">
  <div class="shoe-details">
    <h3>{{styles.description}}</h3>
    <p>Price: {{styles.price}}</p>
  </div>
  <p>ABOUT THIS PRODUCT: {{styles.product_description}}</p>
</section>


<div class="container">
  
    <h3>Create a New Review</h3>

    <form class="form new-review-form">
      <div class="form-group">
        <label for="project-desc">Review</label>
        <textarea class="form-input" id="review-desc" name="review-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </form>
  </div>



 
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}
 <script src="/js/comment.js"></script>